body {
    background-color: #05668d;
    color: #f0f3bd;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button {
    padding: 2px 20px;
    background-color: #337ab7;
    color: #f0f3bd;
    border-style: none;
}

input {
    height: 20px;
}